@charset: "UTF-8";
br {
	height: 0;
	width: 0;
	clear: both;
}
body {
	font-family: "微软雅黑", Arial, sans-serif;
	font-size: 12px;
	line-height: 1.4;
	margin: 0;
	padding: 0;
}
.container {
	min-width: 400px;
}
input[type=text] {
	width: 5em;
}
.template {
	display: none;
}

#domain-list>li>ul>li {
	color: blue;
}
#domain-list>li>ul>li span.checks {
	position: relative;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
div.group-checks {
	background-color: white;
	position: absolute;
	right: 1em;
	z-index: 100;
	padding: 0.2em 2em 0.2em 0.2em;
	border: 1px solid black;
}
div.group-checks li {
	color: black;
	line-height: 1.2em;
}
div.group-checks input[type=checkbox], div.group-checks label {
	cursor: pointer;
}
ul#domain-list, ul#domain-list>li>ul {
	width: 300px;
	float: left;
}
span.group-name, span.group-time {
	font-size: 1.2em;
	font-weight: bold;
	color: #06c;
	
	padding: 0.2em 0.5em;
	padding-bottom: 0.4em;
}
span.domain-name, span.domain-time {
	font-size: 1.2em;
	color: #39f;
	padding: 0em 0.5em;
}
ul#domain-list>li, ul#domain-list>li>ul>li {
	width: 380px;
	float: left;
}
ul#domain-list>li>ul>li:hover {
	background-color: #FFC;
	cursor: default;
}
span.group-name, span.domain-name, span.group-time, span.domain-time {
	display: block;
	float: left;
}
#show-lists {
	overflow: hidden;
}
span.group-name, span.domain-name {
	overflow: hidden;
}
span.group-time, span.domain-time {
	float: right;
	padding-right: 1em;
}
span.group-name {
	padding-right: 19px;
}
.up-arrow {
	background: url(images/sort_asc.png) right center no-repeat;
}
.down-arrow {
	background: url(images/sort_desc.png) right 3px no-repeat;
}
.error {
	background-color: #ffcece;
	padding: 0.2em;
}

.info {
    background: none repeat scroll 0 0 #D5EDF8;
    border-color: #92CAE4;
    color: #205791;
}
.error, .alert {
    background: none repeat scroll 0 0 #FBE3E4;
    border-color: #FBC2C4;
    color: #8A1F11;
}
.loading {
	padding-left: 18px;
	background: url(images/load.gif) left center no-repeat;
}
.tab-header {
	overflow: hidden;
}
.tab-header li {
	float: left;
}
.tab-header li a,
.tab-header li a:visited {
	text-decoration: none;
	color: black;
	display: block;
	padding: 5px;
	width: 5em;
	text-align: center;
	background-color: silver;
}
.tab-header li a:hover,
.tab-header li a.active {
	background-color: #ddd;
}

#tabset > div {
	background-color: #ddd;
	padding: 5px;
}